<h3>Welcome, App Component</h3>

<!--This is the way to call component programatically-->
<!-- <app-post-list></app-post-list>
<div *ngComponentOutLet="getPostComponent()">

</div> -->

<!--Load component on click event programtically-->

<!-- <button (click)="createComponent()">Create Component</button>
<button (click)="removeComponent()">Remove Component</button> -->
<!-- 
<app-profile [pUsername]="username" ></app-profile>
<input type="text" (keyup.enter)="changeValue()"  [(ngModel)]="bindUsername"/> -->

<button (click)="createComponent()">Create Component</button>
<button (click)="removeComponent()">Remove Component</button>
<app-profile>
  <h3>The content is from parent component</h3>
</app-profile>